.menu-section {
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-bottom: 0;  
  /* padding-top: 1em; */
  margin-top: 0;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr  ;
}

.menu-section .logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

h2 {
    color: white;
}

.menu-section .nav {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content:space-between;
}

/* .menu-section .theme-quote {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: white;
} */

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-size-adjust: 2x;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
