

.menu-section {
    background-color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;

}

.menu-section .logo {
grid-column: 1/2;
padding: .5 em;

}

.menu-section .nav {
grid-column: 1/4;
grid-row: 2/3;
align-items: flex-end;
}

.menu-section .theme-quote .p {
    grid-column: 3/4;


}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }