

.menu-section {
    background-color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 0;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 4fr;

}

.menu-section .logo {
grid-column: 1/2;

}

.menu-section .nav {
grid-column: 2/4;
}

.menu-section .theme-quote .p {


}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }