.theme-quote {
    background-color: #427898;

    padding: 5em; 
    color: white; 
}

.questionSection {
padding-bottom: 1em;
display: flex;
flex-direction: column;
align-items: center;

}    


.feelQ {
    color: #427898;
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0; 

}

    


.greenBtn {
width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 0;
}

.yellowBtn {
    width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 0;
    }

.p .meh {
        color: red
    }

.redBtn {
    width: 125px;
  height: 125px;
    border-radius: 50%;
    border: 0;
        }
button {
/* background-color: purple; */
}

.buttons {
    justify-content: center;
    display: flex;
    flex-direction: row;
/* justify-content: ; */
/* background-color: red; */
width: 125px;
height: 125px;
border-radius: 20%;

}

