.theme-quote {
    background-color: #427898;

    padding: 5em; 
    color: white; 
}

.questionSection {
    background-color: red;
padding-bottom: 1em;
color: red;
}    


.feelQ {
    color: rgba(169, 169, 169, 0.386); 

}

    


.greenBtn {
width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 0;
}

.yellowBtn {
    width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 0;
    }

.redBtn {
    width: 125px;
  height: 125px;
    border-radius: 50%;
    border: 0;
        }
button {
/* background-color: purple; */
}

.buttons, Link {
display: flex;
justify-content: space-evenly;
/* background-color: green; */
/* font-size: 100px;
background-color: #b4dbdc; */
}

body {
    /* background-color: red; */
    color: blue
}

/* .fa-face-smile-beam {
    color: white;
    background-color: red;
    width: 200px;
height: 200px;
border-radius: 50%;  */

